{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Profile{% endblock %}

{% block page_title %}Profile{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800 text-center mt-4">Profil</h1>

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- DataTales Example -->
            <div class="card shadow mb-4">

                <div class="card-body">

                    {{ form_start(form) }}
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(form) }}
                        </div>

                        <div class="row">
                            <div class="col">
                                {{ form_row(form.firstname) }}
                            </div>
                            <div class="col" id="some-custom-id">
                                {{ form_row(form.lastname) }}
                            </div>
                        </div>
                        {{ form_row(form.phone) }}
                        {{ form_row(form.mail) }}
                        {{ form_row(form.username) }}
                        {{ form_row(form.old_password) }}
                        <div class="row">
                            <div class="col-6">{{ form_row(form.plain_password.first) }}</div>
                            <div class="col-6">{{ form_row(form.plain_password.second) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-2">
                            <button class="btn btn-danger btn-icon-split btn-lg" type="reset">
                                <span class="icon text-white-50">
                                  <i class="fas fa-backspace"></i>
                                </span>
                                <span class="text">Annuler</span>
                            </button>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-primary  btn-icon-split btn-lg" type="submit">
                                        <span class="icon text-white-50">
                                          <i class="fas fa-save"></i>
                                        </span>
                                    <span class="text">Enregistrer</span>
                                </button>
                            <div class="col-4"></div>
                            </div>
                        </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}