{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block page_title %}Profile{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800 text-center mt-4">{{ participant.username }}</h1>

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- DataTales Example -->
            <div class="card shadow mb-4">

                <div class="card-body">


                    <b>Prénom:</b> {{ participant.firstname }}<br>
                    <b>Nom:</b> {{ participant.lastname }}<br>
                    <b>Téléphone:</b> {{ participant.phone }}<br>
                    <b>Mail:</b> {{ participant.mail }}<br>
                    <b>Ville de rattachement:</b> {{ participant.campus }}

                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}