{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block page_title %}Profile{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800 text-center mt-4">Profil</h1>

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- DataTales Example -->
            <div class="card shadow mb-4">

                <div class="card-body">

                    {{ participant.username }}<br>
                    Nom: {{ participant.firstname }}<br>
                    Prénom: {{ participant.lastname }}<br>
                    Téléphone: {{ participant.phone }}<br>
                    Mail: {{ participant.mail }}<br>
                    Ville de rattachement: {{ participant.campus }}

                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}