{% extends 'base.html.twig' %}

{% block title %}Evênements{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800 text-center mt-4">Détails de l'évênement</h1>

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- DataTales Example -->
            <div class="card shadow mb-4">

                <div class="card-body">
                    <p>Nom de la sortie: {{ event.name }}</p>
                    <p>Date de la sortie: {{ event.starttime|date("d/m/Y H:i") }}</p>
                    <p>Ville organisatrice: {{ event.campus.name }}</p>
                    <p>Lieu: {{ event.location.name }} - {{ event.location.street }} {{ event.location.city.postcode }} {{ event.location.city.name }}</p>
                    <br>
                    {{ form_start(form) }}
                    {{ form_row(form.reason) }}
                    {{ form_row(form.save) }}
                    {{ form_end(form) }}
                    <a class="btn btn-primary" href="{{ path('index') }}">Retour</a>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.container-fluid -->
{% endblock %}

{% block scripts %}
{% endblock %}