{% extends 'base.html.twig' %}

{% block title %}Evênements{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800 text-center mt-4">Détails de l'évênement</h1>

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- DataTales Example -->
            <div class="card shadow mb-4">

                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <p><b>Nom de la sortie :</b> {{ event.name }}</p>
                            <p><b>Date et heure de la sortie :</b> {{ event.starttime|date("d/m/Y H:i") }}</p>
                            <p><b>Date limite d'inscription :</b> {{ event.lastInscriptionTime|date("d/m/Y H:i") }}</p>
                            <p><b>Nombre de places :</b> {{ event.places }}</p>
                            <p><b>Durée :</b> {{ event.duration }} minutes</p>
                            <p><b>Description et infos :</b> {{ event.information }}</p>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <p><b>Ville organisatrice :</b> {{ event.campus.name }}</p>
                            <p><b>Lieu :</b> {{ event.location.name }}</p>
                            <p><b>Rue :</b> {{ event.location.street }}</p>
                            <p><b>Code postal :</b> {{ event.location.city.postcode }}</p>
                            <p><b>Lattitude :</b> {{ event.location.latitude }}</p>
                            <p><b>Longitude :</b> {{ event.location.longitude }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {% if event.reason != null %}
                                <b class="text-danger text-bold">Annulé: </b><p class="text-danger">{{ event.reason }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <!-- DataTales Example -->
                    <div class="card shadow md-4">

                        <div class="card-body">
                            <div class="table-responsive" style="overflow-y:auto; max-height: 350px;">
                                <table class="table table-bordered table-hover table-striped tablesorter" border="1">
                                    <tr>
                                        <th>Pseudo</th>
                                        <th>Nom</th>
                                    </tr>
                                    {% for participant in event.participants %}
                                        <tr>
                                            <td>
                                                {% if participant != app.user %}
                                                    <a href="{{ path('profile', {'username': participant.username}) }}">{{ participant.username }}</a>
                                                {% else %}
                                                    {{ participant.username }}
                                                {% endif %}
                                            </td>
                                            <td>{{ participant.firstname }} {{ participant.lastname }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>

                    <br>
                    {% if form is defined %}
                        {{ form_start(form) }}
                        {{ form_row(form.reason) }}
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <a class="btn btn-secondary btn-lg" href="{{ path('index') }}">
                                    <span class="icon text-white-50">
                                      <i class="fas fa-save"></i>
                                    </span>
                                    <span class="text">Retour</span>
                                </a>
                                <button class="btn btn-danger btn-lg" type="reset">
                                    <span class="icon text-white-50">
                                      <i class="fas fa-backspace"></i>
                                    </span>
                                    <span class="text">Annuler l'annulation</span>
                                </button>
                                <button class="btn btn-primary btn-lg" type="submit">
                                    <span class="icon text-white-50">
                                      <i class="fas fa-save"></i>
                                    </span>
                                    <span class="text">Confirmer l'annulation</span>
                                </button>
                            </div>

                            <div class="col-2"></div>
                        </div>
                        {{ form_end(form) }}
                    {% else %}
                        <a class="btn btn-secondary btn-lg" href="{{ path('index') }}">
                        <span class="icon text-white-50">
                          <i class="fas fa-save"></i>
                        </span>
                            <span class="text">Retour</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.container-fluid -->
{% endblock %}

{% block scripts %}
{% endblock %}