{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block content %}
    <table class="table table-bordered table-hover table-striped tablesorter" border="1">
        <tr>
            <th>Nom</th>
            <th>date de debut</th>
            <th>durée</th>
            <th>inscription bloqué le</th>
            <th>etat</th>
            <th>lieux</th>
            <th>nombre de paricipants</th>
            <th>organisateur</th>
        </tr>
        {% for event in list %}
            <tr>
                <td> {{ event.name }} </td>
                <td> {{ event.starttime | date('d/m')}} </td>
                <td> {{ ((event.duration*60)-3600) | date('H')}} h {{ ((event.duration*60)-3600) | date('i')}}</td>
                <td> {{ event.lastInscriptionTime | date('d/m') }} </td>
                <td> {{ event.state }} </td>
                <td> {{ event.location }} </td>
                <td> {{ event.participants.count() }} </td>
                <td> {{ event.planner }} </td>

            </tr>
        {% endfor %}



    </table>

    <div class="bs-example">
        <ul class="pagination pagination-lg">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="?page=1">1</a></li>
            <li><a href="?page=2">2</a></li>
            <li><a href="?page=3">3</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
{% endblock %}
