{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800 text-center mt-4"></h1>

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <div class="card shadow mb-4">
            <div class="card-body">
                {# render the start tag and change the submission method #}
                {{ form_start(form, {'method': 'GET'}) }}
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        {{ form_row(form.campus) }}
                        {{ form_row(form.search) }}
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                {{ form_row(form.first_date) }}
                            </div>
                            <div class="col-md-6 col-sm-12">
                                {{ form_row(form.second_date) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4 col-sm-12">
                        {{ form_row(form.isPlanner) }}
                        {{ form_row(form.isParticipating) }}
                        {{ form_row(form.isNotParticipating) }}
                        {{ form_row(form.isPassed) }}
                        {{ form_row(form.filter, { 'label': 'Filtrer' }) }}
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>


        <!-- DataTales Example -->
        <div class="card shadow md-4">

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped tablesorter" border="1">
                        <tr>
                            <th>Nom de la sortie</th>
                            <th>Date de la sortie</th>
                            <th>Clôture</th>
                            <th>Inscrits / Places</th>
                            <th>Etat</th>
                            <th>Inscrit</th>
                            <th>Organisateur</th>
                            <th>Actions</th>
                        </tr>
                        {% for event in list %}
                            <tr>
                                <td>{{ event.name }}</td>
                                <td>{{ event.starttime | date('d/m/Y H:i')}} </td>
                                <td>{{ event.lastInscriptionTime | date('d/m/Y H:i') }} </td>
                                <td>{{ event.participants.count() }} / {{ event.places }}</td>
                                <td>{{ event.state.label }} </td>
                                <td>{{ event.campus.name }} </td>
                                <td>
                                    {% if  event.participants.contains(app.user)%}
                                        Oui
                                    {% else %}
                                        Non
                                    {% endif %}
                                </td>
                                <td>
                                    {% if  event.planner != app.user %}
                                        <a href="{{ path('profile', {'username': event.planner.username}) }}">{{ event.planner }}</a>
                                    {% else %}
                                        {{ event.planner }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if event.state.label == constant('App\\Entity\\State::STATE_CLOSED') %}
                                        <a href="{{ path('event_detail', {'id': event.id}) }}">Afficher</a>

                                    {% elseif event.state.label == constant('App\\Entity\\State::STATE_PENDING') %}
                                        <a href="{{ path('event_detail', {'id': event.id}) }}">Afficher</a>

                                    {% elseif (event.state.label == constant('App\\Entity\\State::STATE_CREATING')) and (event.planner == app.user) %}
                                        <a href="{{ path('event_detail', {'id': event.id}) }}">Modifier</a>
                                        - <a href="{{ path('event_detail', {'id': event.id}) }}">Publier</a>

                                    {% elseif event.state.label == constant('App\\Entity\\State::STATE_OPENED') %}
                                        <a href="{{ path('event_detail', {'id': event.id}) }}">Afficher</a> -
                                        {% if event.planner != app.user  %}
                                            {% if event.participants.contains(app.user) %}
                                                <a class="text-warning" href="{{ path('event_unscribe', {'id': event.id}) }}">Se désister</a>
                                            {% else %}
                                                <a class="text-success" href="{{ path('event_subscribe', {'id': event.id}) }}">S'inscrire</a>
                                            {% endif %}
                                        {% else %}
                                            <a class="text-danger" href="{{ path('event_detail', {'id': event.id}) }}">Annuler</a>
                                        {% endif %}

                                    {% elseif event.state.label == constant('App\\Entity\\State::STATE_CANCELLED') %}
                                        <a href="{{ path('event_detail', {'id': event.id}) }}">Afficher</a>

                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <!--
                    <div>
                        <div class="bs-dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous disabled"><a href="#" class="page-link">&laquo;</a></li>
                                {% for i in 1..numberOfPage  %}
                                    <li class="paginate_button page-item"><a href="?page={{ i }}"class="page-link">{{ i }}</a></li>
                                {% endfor %}
                                <li class="paginate_button page-item next"><a href="#"class="page-link">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                    !-->
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.container-fluid -->

{% endblock %}
{% block scripts %}

{% endblock %}
