{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block content %}
    <table class="table table-bordered table-hover table-striped tablesorter" border="1">
        <tr>
            <th>Nom</th>
            <th>date de debut</th>
            <th>durée</th>
            <th>inscription bloqué le</th>
            <th>etat</th>
            <th>lieux</th>
            <th>nombre de paricipants</th>
            <th>organisateur</th>
        </tr>
        {% for event in list %}
            <tr>
                <td> {{ event.getName() }} </td>
                <td> {{ event.getStarttime() |date('d/m')}} </td>
                <td> {{ event.getDuration() |date('H:i')}} </td>
                <td> {{ event.getLastInscriptionTime()|date('d/m') }} </td>
                <td> {{ event.getState() }} </td>
                <td> {{ event.getLocation() }} </td>
                <td> {{ event.getParticipants().count() }} </td>
                <td> {{ event.getPlanner() }} </td>

            </tr>
        {% endfor %}



    </table>

    <div class="bs-example">
        <ul class="pagination pagination-lg">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
{% endblock %}
