{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800 text-center mt-4">Créer un évènement</h1>

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- DataTales Example -->
            <div class="card shadow mb-4">

                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    <div class="row">
                        <div class="col-6">{{ form_row(form.starttime) }}</div>
                        <div class="col-6">{{ form_row(form.lastInscriptionTime) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-6">{{ form_row(form.duration) }}</div>
                        <div class="col-6">{{ form_row(form.places) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-6">{{ form_row(form.campus) }}</div>
                        <div class="col-6">{{ form_row(form.location) }}</div>
                    </div>
                    {{ form_row(form.information) }}
                    {% if update == false %}
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-2">
                                <button class="btn btn-danger btn-icon-split btn-lg" type="reset">
                                        <span class="icon text-white-50">
                                          <i class="fas fa-backspace"></i>
                                        </span>
                                    <span class="text">Annuler</span>
                                </button>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-primary  btn-icon-split btn-lg" type="submit">
                                            <span class="icon text-white-50">
                                              <i class="fas fa-save"></i>
                                            </span>
                                    <span class="text">Enregistrer</span>
                                </button>
                            </div>
                            <div class="col-4"></div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-2">
                                <button class="btn btn-danger btn-lg" type="reset">
                                    <span class="icon text-white-50">
                                      <i class="fas fa-backspace"></i>
                                    </span>
                                    <span class="text">Annuler</span>
                                </button>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-primary btn-lg" type="submit">
                                    <span class="icon text-white-50">
                                      <i class="fas fa-save"></i>
                                    </span>
                                    <span class="text">Enregistrer</span>
                                </button>
                            </div>
                            <div class="col-2">
                                <a href="{{ path('event_publish', {'id': event.id}) }}" class="btn btn-secondary btn-lg" type="submit">
                                    <span class="icon text-white-50">
                                      <i class="fas fa-backspace"></i>
                                    </span>
                                    <span class="text">Publier</span>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.container-fluid -->
{% endblock %}

{% block scripts %}
{% endblock %}