{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <body class="bg-gradient-primary">
        <div class="container">
            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Bienvenue !</h1>
                                        </div>
                                        <form id="loginForm" class="user" method="post">

                                            {% if error %}
                                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                            {% endif %}

                                            {% if app.user %}
                                                <div class="mb-3">
                                                    Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                                </div>
                                            {% endif %}

                                            <div class="form-group">
                                                <input type="text" value="{{ last_username }}" class="form-control form-control-user"
                                                       name="mail" id="inputMail" aria-describedby="emailHelp" placeholder="Pseudo ou Email" required autofocus>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user" name="password" id="inputPassword" placeholder="Mot de passe" required>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck" name="_remember_me">
                                                    <label class="custom-control-label" for="customCheck">Se souvenir de moi</label>
                                                </div>
                                            </div>
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                            <div class="mb-3 text-center">
                                                <button class="mb-3 btn btn-lg btn-primary col-md-12" type="submit">
                                                    Connexion
                                                </button>
                                                <a class="mb-3 btn btn-lg btn-secondary col-md-12" href="#" data-toggle="modal" data-target="#cancelLoginModal">
                                                    Annuler
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cancel login Modal-->
        <div class="modal fade" id="cancelLoginModal" tabindex="-1" role="dialog" aria-labelledby="cancelLoginModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cancelLoginModalLabel">Souhaitez-vous vraiment ne pas vous connecter ?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Selectionnez "Annuler l'annulation" ci-dessous si vous souhaitez mettre fin à la tentative d'annulation de la connexion.'</div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="reset" data-dismiss="modal" onclick="document.getElementById('loginForm').reset();">Confirmer l'annulation</button>
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler l'annulation</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>
    </body>
{% endblock %}
