{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800 text-center mt-4">Créer un utilisateur</h1>

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- DataTales Example -->
            <div class="card shadow mb-4">

                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-6">{{ form_row(form.firstname) }}</div>
                        <div class="col-6">{{ form_row(form.lastname) }}</div>
                    </div>
                    {{ form_row(form.phone) }}
                    {{ form_row(form.mail) }}
                    {{ form_row(form.username) }}
                    <div class="row">
                        <div class="col-6">{{ form_row(form.password.first) }}</div>
                        <div class="col-6">{{ form_row(form.password.second) }}</div>
                    </div>
                    {{ form_row(form.campus) }}
                    {{ form_row(form.isAdmin) }}
                    <div class="row">
                        <div class="col-5"></div>
                        <button class="col-2 btn btn-primary  btn-icon-split btn-lg" type="submit">
                                <span class="icon text-white-50">
                                  <i class="fas fa-save"></i>
                                </span>
                            <span class="text">Enregistrer</span>
                        </button>
                        <div class="col-5"></div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.container-fluid -->

{% endblock %}