{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800 text-center mt-4">Créer un utilisateur</h1>

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- DataTales Example -->
            <div class="card shadow mb-4">

                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                    {{ form_row(form.phone) }}
                    {{ form_row(form.mail) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.password) }}
                    {{ form_row(form.campus) }}
                    {{ form_row(form.isAdmin) }}
                    <button class="btn btn-primary  btn-icon-split" type="submit">
                        <span class="icon text-white-50">
                          <i class="fas fa-save"></i>
                        </span>
                        <span class="text">Enregistrer</span>
                    </button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.container-fluid -->

{% endblock %}